
LEXOFFICE_TOKEN=
LEXOFFICE_BASE_URL=https://api.lexware.io


MAIL_ADDRESS=
MAIL_APP_PASSWORD=

# up to 5 users, separated by comma
EMAIL_TO=abc@example.com,xyz@example.com

# (by default Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
